

.logo{
  height: 100px;
}
.nav-bar{
  height: 20vh;
}

.charcuterie-board-img{
  /* height: 150px; */
  object-fit: contain;
}

.drinks-container {
  max-height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
  flex-direction: row;
}
.drinks-container::-webkit-scrollbar {
  width: 0.5rem;
}
.drinks-container::-webkit-scrollbar-thumb {
  background-color: #f27648;
  border-radius: 5px;
}
.drinks-container::-webkit-scrollbar-track {
  background-color: #e9ecef;
  border-radius: 5px;
}